@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600&display=swap');

:root {
  --main-color: #22BAA0;
  --color-dark: #34425A;
  --text-grey: #B0B0B0;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: 'Merriweather', sans-serif;
}

#menu-toggle {
  display: none;
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 220px;
  left: 0;
  bottom: 0;
  top: 0;
  z-index: 100;
  background: var(--color-dark);
  transition: width 300ms;
  /* Changed from left to width */
}

.side-header {
  box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.1);
  background-color: #1a1a42;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-header h3,
.side-header span {
  /* Corrected selector */
  color: #fff;
  font-weight: 400;
  font-size: 20px;
}

.side-content {
  height: calc(100vh - 60px);
  overflow: auto;
}

/* width */
.side-content::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.side-content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.side-content::-webkit-scrollbar-thumb {
  background: #b0b0b0;
  border-radius: 10px;
}

/* Handle on hover */
.side-content::-webkit-scrollbar-thumb:hover {
  background: #d6cdcd;
}

.profile {
  text-align: center;
  padding: 2rem 0rem;
}

.bg-img {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  background-size: cover;
  align-items: center;
}

.profile-img {
  height: 80px;
  width: 80px;
  display: inline-block;
  margin: 0 auto .5rem auto;
  border: 3px solid #899DC1;
}

.profile h4 {
  color: #fff;
  font-weight: 500;
}

.profile small {
  color: #899DC1;
  font-weight: 600;
}

.side-menu ul {
  text-align: center;

}

.side-menu a {
  display: block;
  padding: 1.2rem 0rem;
  display: flex;
  text-decoration: none;
}

.side-menu a.active {
  background: #2B384E;
}

.side-menu a.active span,
.side-menu a.active small {
  color: #fff;
}

.side-menu a span {
  display: block;
  text-align: center;
  font-size: 1.7rem;
}

.side-menu a span,
.side-menu a small {
  color: #899DC1;
  margin: 10px;
}

.main-content {
  margin-left: 220px;
  /* Adjusted margin-left */
  width: calc(100% - 220px);
  /* Adjusted width */
  transition: margin-left 300ms;
}

.admin-header {
  position: fixed;
  right: 0;
  top: 0;
  left: 220px;
  /* Adjusted left */
  z-index: 100;
  height: 60px;
  box-shadow: 0px 5px 5px -5px rgb(0 0 0 /10%);
  background: #fff;
  transition: left 300ms;
}

.header-content,
.header-menu {
  display: flex;
  align-items: center;
}

.header-content {
  justify-content: space-between;
  padding: 0rem 1rem;
}

.header-content label:first-child span {
  font-size: 1.3rem;
}

.header-content label {
  cursor: pointer;
  margin-top: 1rem;
}

.header-menu {
  justify-content: flex-end;
  padding-top: .5rem;
}

.header-menu label,
.header-menu .notify-icon {
  margin-right: 2rem;
  position: relative;
}

.header-menu label span,
.notify-icon span:first-child {
  font-size: 1.3rem;
}

.notify-icon span:last-child {
  position: absolute;
  background: var(--main-color);
  height: 16px;
  width: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  right: -5px;
  top: -5px;
  color: #fff;
  font-size: .8rem;
  font-weight: 500;
}

.user {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  cursor: pointer;
}

.user div,
.client-img {
  height: 40px;
  width: 40px;
  margin-right: 1rem;
}

.user span:last-child {
  display: inline-block;
  margin-left: .3rem;
  font-size: .8rem;
}

main {
  margin-top: 60px;
}

.page-header {
  padding: 1.3rem 1rem;
  background: #272c4a;
  border-bottom: 1px solid #dee2e8;
}

.page-header h1,
.page-header small {
  color: #f1f1f1;
}

.page-content {
  padding: 1.3rem 1rem;
  background: #f1f4f9;
}

.analytics {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin-top: .5rem;
  margin-bottom: 2rem;
}

.admin-card {
  box-shadow: 0px 5px 5px -5px rgb(0 0 0 /10%);
  border-radius: 0 !important;
  background-color: #222847;
  height: 150px;
}

.card-top-content {
  display: flex;
  justify-content: space-between;
}

 .card-top-content span {
  color: yellow;
  font-size: 2rem;
}

.card-top-content h5 {
  color: rgb(226, 226, 15);
}

.card-body p {
  color: rgb(221, 221, 216);
  margin-top: 1.4rem;
  font-size: 17px;
}

.card-body a {
  text-decoration: none;
  float: right;
  background-color: #1a1a42;
  border-radius: 0px;
  margin-top: 0.4rem;
}

.table td {
  background-color: #2B384E;
  color: rgb(224, 224, 223);

}

.table th {
  background-color: #1a1a42;
  color: yellow;
}

.table-responsive form {
  margin-bottom: 10px;
}

.table-responsive form input {
  margin-right: 10px;
}

@media only screen and (max-width: 1200px) {
  .analytics {
    grid-template-columns: repeat(2, 1fr);
  }
  
  
}
@media only screen and (max-width: 1024px) {
  .analytics {
    grid-template-columns: repeat(2, 1fr);
  }
  .sidebar {
    left: -165px;
    z-index: 90;
    width: 160px;

  }
  
}
@media only screen and (min-width: 600px) and (max-width: 912px) {
  .card-body a {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .card-body p {
    color: rgb(221, 221, 216);
  }

  .profile-row {
    border: 2px solid rgb(213, 236, 7);
    border-radius: 15px;
    height: 600px;
  }

  .card-profile h5, .card-profile p {
    margin-top: 30px;
  }
}

@media only screen and (min-width: 360px) {
  .card-body p {
    color: rgb(221, 221, 216);
  }

  .card-body a {
    text-decoration: none;
  }

  .profile-row {
    border: 2px solid rgb(213, 236, 7);
    border-radius: 15px;
    height: 600px;
  }

  .card-profile h5, .card-profile p {
    margin-top: 30px;
  }
}


@media only screen and (min-width: 992px) {

  .analytics {
    grid-template-columns: 100%;
  }
  .card-body a {
    text-decoration: none;
    float: right;
    background-color: #1a1a42;
    border-radius: 0px;
    margin-top: 0.4rem;
  }
  .card-body p {
    color: rgb(221, 221, 216);
    margin-top: 1.4rem;
    font-size: 17px;
  }

  .admin-header {
    left: 0;
    width: 100%;
  }

  .main-content {
    margin-left: 0;
    width: 100%;
  }

  #menu-toggle:checked~.sidebar {
    left: 0;
  }

  #menu-toggle:checked~.sidebar {
    width: 165px;
  }

  #menu-toggle:checked~.sidebar .side-header span {
    display: inline-block;

  }

  #menu-toggle:checked~.sidebar .profile-admin,
  #menu-toggle:checked~.sidebar .side-menu a small {
    display: block;
  }

  #menu-toggle:checked~.sidebar .side-menu a span {
    font-size: 1.7rem;
  }

  #menu-toggle:checked~.main-content header {
    left: 0px;
  }

  .search-container {
    display: grid;
    justify-content: space-between;
  }

}

@media only screen and (max-width: 768px) {
  .analytics {
    grid-template-columns: 100%;
  }

  .sidebar {
    left: -165px;
    z-index: 90;
    width: 165px;

  }
 
  .card-body a {
    text-decoration: none;
    float: right;
    background-color: #1a1a42;
    border-radius: 0px;
    margin-top: 0.4rem;
  }
  .admin-header {
    left: 0;
    width: 100%;
  }

  .main-content {
    margin-left: 0;
    width: 100%;
  }

  #menu-toggle:checked~.sidebar {
    left: 0;
  }

  #menu-toggle:checked~.sidebar {
    width: 165px;
  }

  #menu-toggle:checked~.sidebar .side-header span {
    display: inline-block;

  }

  #menu-toggle:checked~.sidebar .profile-admin,
  #menu-toggle:checked~.sidebar .side-menu a small {
    display: block;
  }

  #menu-toggle:checked~.sidebar .side-menu a span {
    font-size: 1.7rem;
  }

  #menu-toggle:checked~.main-content header {
    left: 0px;
  }

  .search-container {
    display: grid;
    justify-content: space-between;
  }

}







/* Admin Profile  */

.card-img-top {
  height: 120px;
  width: 22%;
  border-radius: 50%;
  margin-left: 15px;
  border: 10px double rgb(193, 235, 5);

}

.card-profile {
  background-color:#1a1a42;
  color: white;
  border: none;
 
}
.card-profile h5 {
 color:yellow;
}

.card-profile:hover {
  cursor: pointer
}

.profile-row {
  border: 2px solid rgb(213, 236, 7);
  border-radius: 15px;
}

.profile-h5 {
  display: flex;
  align-items: center;
  
  gap: 15px;
 
}

.profile-h5 span {
  margin-left: 16px;
}

.profile-card2 {
  border: none;
  border-left: 2px solid yellow;
  border-radius: 0px;
  color: white;
  background-color: #1a1a42;
 

}
.profile-card2 h6 .bi{
  
  color: rgb(4, 194, 45);
}
.profile-container{
  background-color: #1a1a42;

}
.profile-card2 .card-bodyi{
  margin-left: 10px;
}

    /* Ticket Page  */

    .ticket-row{
      background-color: #1a1a42;
      height: 100vh;
    }
@media only screen and (max-width: 1200px) {
  
}
@media only screen and (max-width: 992px) {
  .card-img-top {
    height: 100px;
    width: 27%;
    border-radius: 50%;
    margin-left: 15px;
    border: 2px solid rgb(193, 235, 5);
  
  }
  .profile-card2 {
    border: none;
   
    border-radius: 0px;
    color: white;
    background-color: #1a1a42;
   
  
  }
  .ticket-row{
    background-color: #1a1a42;
    height: 100vh;
  }
}
@media only screen and (max-width: 768px) {
  .card-img-top {
    height: 100px;
    width: 27%;
    border-radius: 50%;
    margin-left: 15px;
    border: 2px solid rgb(193, 235, 5);
  
  }
  .profile-card2 {
    border: none;
   
    border-radius: 0px;
    color: white;
    background-color: #1a1a42;
   
  
  }
  .profile-card2 h6{
    display:  flex;
    /* justify-content: space-between; */
  }
  .ticket-row{
    background-color: #1a1a42;
    height: 100%;
  }
  .profile-card2 .card-bodyi{
    margin-left: 8px;
    margin-top: 0px;
  }
}
@media only screen and (max-width: 576px) {
  .card-img-top {
    height: 100px;
    width: 27%;
    border-radius: 50%;
    margin-left: 15px;
    border: 2px solid rgb(193, 235, 5);
  
  }
  .profile-card2 {
    border: none;
   
    border-radius: 0px;
    color: white;
    background-color: #1a1a42;
   
  
  }
  .profile-card2 h6{
    display:  flex;
    /* justify-content: space-between; */
  }
  .ticket-row{
    background-color: #1a1a42;
    height: 100%;
  }
  .profile-row{
    height: 550px;
  }
}
@media only screen and (max-width: 480px) {
  .card-img-top {
    height: 100px;
    width: 27%;
    border-radius: 50%;
    margin-left: 15px;
    border: 2px solid rgb(193, 235, 5);
  
  }
  .profile-card2 {
    border: none;
   
    border-radius: 0px;
    color: white;
    background-color: #1a1a42;
   
  
  }
  .profile-card2 h6{
    display:  flex;
    /* justify-content: space-between; */
  }
  .ticket-row{
    background-color: #1a1a42;
    height: 100%;
  }
  
}
/* CREATE ACCOUNT  */

.Create-account-row {
  background-color: #222847;
  height: 100vh;
  }

.Create-account-row h2 {
  color: yellow;
  text-align: center;
}
.Create-account form {
 margin-top:50px;
}
.Create-account input{
   border-radius: 0px;

}